.login-form {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.email-input,
.password-input {
    text-align: left;
}