<form nz-form [formGroup]="validateForm" class="register-clinic-form" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-control nzErrorTip="Enter Your Name">
            <nz-input-wrapper>
                <nz-icon nzInputPrefix nzType="user" />
                <input nz-input formControlName="username" placeholder="Name" />
            </nz-input-wrapper>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Enter Your Email">
            <nz-input-wrapper>
                <nz-icon nzInputPrefix nzType="mail" />
                <input nz-input formControlName="email" placeholder="Email" />
            </nz-input-wrapper>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTpl">
            <nz-input-password>
                <nz-icon nzInputPrefix nzType="lock" />
                <input nz-input type="password" formControlName="password" placeholder="Password" />
            </nz-input-password>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="cpasswordErrorTpl">
            <nz-input-password>
                <nz-icon nzInputPrefix nzType="lock" />
                <input nz-input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
            </nz-input-password>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="phoneErrorTemplate">
            <nz-input-wrapper>
                <nz-icon nzInputPrefix nzType="phone" />
                <input nz-input formControlName="phonenum" placeholder="Phone Number" />
            </nz-input-wrapper>

            <ng-template #phoneErrorTemplate let-control>
                @if (control.hasError('required')) {
                <span>Phone number is required!</span>
                }
                @if (control.hasError('pattern')) {
                <span>Must start with 0 and be 7 to 11 digits long.</span>
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control nzErrorTip="Please select a city">
            <nz-select formControlName="city_id" nzPlaceHolder="City" style="width: 100%;" (ngModelChange)="onCityChange($event)">
                @for (city of cities; track city.id) {
                    <nz-option [nzValue]="city.id" [nzLabel]="city.name" />
                }
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control nzErrorTip="Please select a township">
            <nz-select formControlName="township_id" nzPlaceHolder="Township" style="width: 100%;" [nzDisabled]="!validateForm.get('city_id')?.value">
                @for (township of filteredTownships; track township.id) {
                    <nz-option [nzValue]="township.id" [nzLabel]="township.name" />
                }
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control nzErrorTip="Enter Your address">
            <nz-input-group>
                <textarea nz-input formControlName="address" placeholder="Address"
                    [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control nzErrorTip="Enter Clinic Liscense Number">
            <nz-input-wrapper>
                <nz-icon nzInputPrefix nzType="idcard" />
                <input nz-input formControlName="liscensenum" placeholder="Liscense Number" />
            </nz-input-wrapper>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-upload nzAction="" [nzAccept]="'image/*'" (nzChange)="handleChange($event)" [(nzFileList)]="fileList" [nzLimit]="1">
            <button nz-button type="button">
                <nz-icon nzType="upload" />
                Liscense Photo
            </button>
        </nz-upload>
    </nz-form-item>

    <div nz-row class="register-form-margin">
        <button nz-button class="clinic-register-form-button clinic-register-form-button" nzType="primary"
            [disabled]="validateForm.invalid" [nzLoading]="loading">Register Clinic</button>
        Or &nbsp;
        <a routerLink="/login">
            Login
        </a>
    </div>

    <ng-template #passwordErrorTpl let-control>
        @if (control.hasError('required')) {
        Password is required.
        }
        @else if (control.hasError('weakPassword')) {
        Password must be at least 8 characters and contain both letters and numbers.
        }
    </ng-template>

    <ng-template #cpasswordErrorTpl let-control>
        @if (control.hasError('required')) {
        Confirm Password is required.
        }
        @else if (control.hasError('passwordMismatch')) {
        Passwords do not match.
        }
    </ng-template>
</form>